<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href='/static/css/saved.css' />
</head>
<body>
  <nav class="navbar navbar-default">
    <center><h1>TO DO LIST</h1></center>
    <hr>
  </nav>
  <div class="jumbotron">
    <form class="form-group" action="/home" method="post">
      <label for="name">Enter all the tasks to be performed for the day</label>
      <br>
      <input type="text" name="name" class="form-control"><br>
      <br>
      <button class="btn btn-primary" type="submit" name="submit" value="add">Submit</button>
      <br>
      <button class="btn btn-danger" type="submit" name="submit" value="delete">Delete</button>
    </form>
    
  </div>

  <div class="container-fluid">
   {% for item in items %}
   {{items[item]}}
   {% endfor %}
  </div>

</body>
</html>