<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGNUP PAGE</title>
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <center><h1>MEALZY</h1></center>
    <hr>
    <form method="POST" action="/">
        <label for="first_name"><b>First Name*</b></label>
        <br>
        <input type="text" placeholder="Enter First Name" name="first_name" id="first_name" required>
        <br>
        <label for="last_name"><b>Last Name</b></label>
        <br>
        <input type="text" placeholder="Enter Last Name" name="last_name" id="last_name">
        <br>
        <label for="email"><b>Email*</b></label>
        <br>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <br>
        <label for="psw"><b>Password*</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <!-- Button -->
        <div>
            <br>
            <br>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <center><h4>Already On MEALZY? <a href="/login">Log In!</a></h4></center>
    
</body>
</html>