<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <center><h1>MEALZY</h1></center>
    <hr>
    <form method="POST" action="/login">
        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="email" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="psw" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <br>
            <br>
            <center><input type="submit"/></center>
        </div>
    </form>
    <br>
    <center><h4>Don't Have An Account? <a href="/">Sign Up</a></h4></center>
</body>
</html>